[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/platform/applications/90.com.civic",
        "body": "",
        "status": 200,
        "response": {
            "status": 200,
            "object": "/meta/response",
            "data": {
                "url": "https://api.zenefits.com/platform/applications/90.com.civic",
                "fields": {},
                "object": "/platform/applications",
                "id": "90.com.civic"
            },
            "error": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]