[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/core/companies/",
        "body": "",
        "status": 200,
        "response": {
            "status": 200,
            "object": "/meta/response",
            "data": {
                "url": "https://api.zenefits.com/core/companies",
                "next_url": null,
                "object": "/meta/list",
                "data": [
                    {
                        "name": "Civic_Test",
                        "people": {
                            "url": "https://api.zenefits.com/core/companies/123730/people",
                            "object": "/meta/ref/list",
                            "ref_object": "/core/people"
                        },
                        "url": "https://api.zenefits.com/core/companies/123730",
                        "object": "/core/companies",
                        "logo_url": null,
                        "id": "123730"
                    }
                ]
            },
            "error": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]