[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/core/departments/",
        "body": "",
        "status": 200,
        "response": {
          "data": {
            "data": [
              {
                "company": {
                  "object": "/meta/ref/detail",
                  "ref_object": "/core/companies",
                  "url": "https://api.zenefits.com/core/companies/1"
                },
                "id": "1",
                "name": "Engineering",
                "object": "/core/departments",
                "people": {
                  "object": "/meta/ref/list",
                  "ref_object": "/core/people",
                  "url": "https://api.zenefits.com/core/departments/1/people"
                }
              },
              {
                "company": {
                  "object": "/meta/ref/detail",
                  "ref_object": "/core/companies",
                  "url": "https://api.zenefits.com/core/companies/1"
                },
                "id": "2",
                "name": "Product",
                "object": "/core/departments",
                "people": {
                  "object": "/meta/ref/list",
                  "ref_object": "/core/people",
                  "url": "https://api.zenefits.com/core/departments/2/people"
                }
              }
            ],
            "next_url": null,
            "object": "/meta/list",
            "url": "https://api.zenefits.com/core/departments"
          },
          "error": "null",
          "object": "/meta/response",
          "status": 200
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]
