[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/core/me/",
        "body": "",
        "status": 200,
        "response": {
            "status": 200,
            "object": "/meta/response",
            "data": {
                "scopes": [
                    "companies",
                    "people",
                    "people.social_security_number",
                    "people.work_email",
                    "platform"
                ],
                "object": "/core/me",
                "url": "https://api.zenefits.com/core/me",
                "company": {
                    "url": "https://api.zenefits.com/core/companies/123730",
                    "object": "/meta/ref/detail",
                    "ref_object": "/core/companies"
                },
                "expires": "2017-01-15T00:14:35Z",
                "person": {
                    "url": "https://api.zenefits.com/core/people/1709052",
                    "object": "/meta/ref/detail",
                    "ref_object": "/core/people"
                },
                "uninstalled": false
            },
            "error": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]