[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/core/people/1709052",
        "body": "",
        "status": 200,
        "response": {
            "status": 200,
            "object": "/meta/response",
            "data": {
                "first_name": "Admin",
                "last_name": "User",
                "title": null,
                "url": "https://api.zenefits.com/core/people/1709052",
                "company": {
                    "url": "https://api.zenefits.com/core/companies/123730",
                    "object": "/meta/ref/detail",
                    "ref_object": "/core/companies"
                },
                "object": "/core/people",
                "preferred_name": "Admin",
                "social_security_number": null,
                "work_email": "jon@civic.com",
                "id": "1709052"
            },
            "error": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]