[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/platform/person_subscriptions/37762077",
        "body": "",
        "status": 200,
        "response": {
            "status": 200,
            "object": "/meta/response",
            "data": {
                "status": "initializing",
                "url": "https://api.zenefits.com/platform/person_subscriptions/37762077",
                "fields": {},
                "object": "/platform/person_subscriptions",
                "flows": {
                    "url": "https://api.zenefits.com/platform/person_subscriptions/37762077/flows",
                    "object": "/meta/ref/list",
                    "ref_object": "/platform/flows"
                },
                "person": {
                    "url": "https://api.zenefits.com/core/people/1709056",
                    "object": "/meta/ref/detail",
                    "ref_object": "/core/people"
                },
                "company_install": {
                    "url": "https://api.zenefits.com/platform/company_installs/6053217",
                    "object": "/meta/ref/detail",
                    "ref_object": "/platform/company_installs"
                },
                "id": "37762077"
            },
            "error": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]