[
    {
        "scope": "https://api.zenefits.com:443",
        "method": "get",
        "path": "/platform/company_installs/",
        "body": "",
        "status": 200,
        "response": {
            "status": 200,
            "object": "/meta/response",
            "data": {
                "url": "https://api.zenefits.com/platform/company_installs",
                "next_url": null,
                "object": "/meta/list",
                "data": [
                    {
                        "status": "ok",
                        "url": "https://api.zenefits.com/platform/company_installs/6053217",
                        "fields": {},
                        "company": {
                            "url": "https://api.zenefits.com/core/companies/123730",
                            "object": "/meta/ref/detail",
                            "ref_object": "/core/companies"
                        },
                        "object": "/platform/company_installs",
                        "application": {
                            "url": "https://api.zenefits.com/platform/applications/90.com.civic",
                            "object": "/meta/ref/detail",
                            "ref_object": "/platform/applications"
                        },
                        "person_subscriptions": {
                            "url": "https://api.zenefits.com/platform/company_installs/6053217/person_subscriptions",
                            "object": "/meta/ref/list",
                            "ref_object": "/platform/person_subscriptions"
                        },
                        "id": "6053217"
                    }
                ]
            },
            "error": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Content-Language",
            "en-us",
            "Zenefits-Version",
            "2015-12-15"
        ]
    }
]